<h1> Sup </h1>
  <% if owner_signed_in? %>
    <li><%= link_to current_owner.email, edit_owner_registration_path %></li>
    <li><%= link_to 'Logout', destroy_owner_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to 'Sign Up', new_owner_registration_path %></li>
    <li><%= link_to 'Login', new_owner_session_path %></li>
  <% end %>
  <p>
  <%= link_to 'My Blog', controller: 'restaurants' %>
  <p>
  <%= link_to 'New restaurant', new_restaurant_path %>
